// Backgrounds
.d-bg-brand-color {
    background-color: $t-brand-color;
}

.d-bg-brand-color-two {
    background-color: $t-brand-color-two;
}

.d-bg-gray-super-light {
    background-color: $t-gray-super-light;
}

.d-bg-gray-light {
    background-color: $t-gray-light;
}

.d-bg-gray-medium {
    background-color: $t-gray-medium;
}