// Text sizes
.d-text-xs {
    font-size: $t-text-xs;
}

.d-text-sm {
    font-size: $t-text-sm;
}

.d-text-md {
    font-size: $t-text-md;
}

.d-text-lg {
    font-size: $t-text-lg;
}

.d-text-xl {
    font-size: $t-text-xl;
}

.d-text-xxl {
    font-size: $t-text-xxl;
}

.d-text-xxxl {
    font-size: $t-text-xxxl;
}

.d-text-xxxxl {
    font-size: $t-text-xxxxl;
}