.c-carousel {

    display: flex;
    align-items: center;
    
    &__content {
        
    }

    &__item {
        
    }
 
    &__controls {
        border: none;
        background-color: transparent;

        .--prev,
        .--next {
            width: 2.3rem;
            height: 2.3rem;
            fill: $t-aulapp-green;
            filter: brightness(0.2);
        }
    }

    .carousel-indicators {
        position: initial;
    }
}