//Navbar Horizontal - Wordpress 5
.c-navbar {
    display: flex;

    // Wordpress menu container styles
    > div {
        display: flex;
        align-items: center;
    }

    // Wordpress menu styles
    .menu {
        list-style: none;
        display: inline-flex;
        align-items: center;
        justify-content: flex-start;
        margin-bottom: 0;
        padding-left: 0;
    }

    // Wordpress menu item styles
    .menu-item {
        a {
            text-decoration: none;
        }
    }

    // Primary navbar 
    &.--main {
        justify-content: start;
        font-family: 'font-light';
        font-size: $t-text-lg;
        
        .menu-item {
            a {
                @extend .py-2;
                @extend .px-4;
                @extend .d-text-green-dark;
                display: inline-flex;
                flex-direction: column;

                &:after {
                    content: '';
                    width: 40px;
                    height: 4px;
                    background-color: transparent; 
                }
            }

            &.active {
                a {
                    font-family: 'font-bold';
                    
                    &:after {
                        background-color: $t-brand-color;
                    }
                }
            }
        }
    }

    &.--brand-color-three  {
        .menu-item {
            &.active {
                a {
                    &:after {
                        background-color: $t-brand-color-three;
                    }
                }
            }
        }
    }

    &.--secondary {
        justify-content: center;

        .menu-item {
            display: inline-flex;

            a {
                font-family: 'font-bold';
                font-size: $t-text-md;
                padding: 0 18px;
                color: $t-aulapp-green;

                &:hover {
                    color: $t-brand-color-two-dark;
                }

                &:last-child {
                    padding-right: 0;
                }
            }
        }
    }

    // Simple horizontal navbar
    &.--footer {
        justify-content: center;

        .menu-item {
            display: inline-flex;

            a {
                font-family: 'font-bold';
                font-size: $t-text-md;
                padding: 0 29px;
                color: $t-aulapp-green;

                &:hover {
                    color: $t-brand-color-two-dark;
                }
            }
        }
    }
}


@include media-breakpoint-up(sm) {}

@include media-breakpoint-up(md) {}

@include media-breakpoint-up(lg) {}

@include media-breakpoint-up(xl) {
    .c-navbar {
        .menu-item {
            &:first-child {
                a {
                    @extend .ps-xl-0;
                }
            }
        }
    }
}

@include media-breakpoint-up(xxl) {}