.m-banner-principal {

    .banner {
        width: 100%;
        height: 580px;
    }

    .video {
        height: 380px;
    }

    iframe {
        height: 380px;
    }

    .video-wrapper {
        width: 670px;
        height: 380px;
        margin-top: -190px;
        padding: initial;
        margin-bottom: 65px;
    }
}